---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Ramírez y Román">
	<main>
		<h1>
			Contáctanos
		</h1>
		<p>
			Nuestro sitio está en mantenimiento
		</p>
		<a href="mailto:contacto@ramirezyroman.com">envía un correo a <span> contacto@ramirezyroman.com</span></a>
	</main>
</Layout>
<style>
	body {
		display: grid;
		place-items: center;
		height: 85vh;
		background-image: url('../icons/isotipo.png');
		background-size: 400px;
		background-position: center;
	}

	main {
		display: flex;
		flex-direction: column;
		gap: 20px;
		text-align: center;

	}

	h1 {
		font-size: 60px;
	}

	p {
		font-size: 20px;
	}

	span {
		color: var(--color-titles);
	}
</style>