---
import { Markdown } from 'astro/components';
import Title from "./Title.astro";

const { title, description, image, GetImageUrl } = Astro.props
---

<section id="about">
  <Title>{title}</Title>
  <article>
    <Markdown content={description} />
  </article>
  <img src={GetImageUrl(image)} alt='logo'>
</section>
<style>
  section {
    flex-wrap: wrap;
    max-width: 1035px;
    margin: auto;
    display: flex;
    gap: 118px;
    padding: 40px 0 193px;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
  }

  article {
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 65%;
  }

  p {
    line-height: 29px;
  }

  img {
    width: 185px;
    margin-right: 40px;
  }
</style>