---
const { title, items } = Astro.props
---

<span id="areas" class="anchor" />
<section>
  <h1>{title}</h1>
  <ul>{items.map( item => <li>{ item.title }</li> )}</ul>
</section>
<style>
  section {
    background-color: var(--color-titles);
    opacity: 1;
    color: var(--color-white);
    padding: 45px 0;
  }

  h1 {
    color: var(--color-white);
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: auto;
    font-size: 14px;
    max-width: 910px;
    margin: auto;
    font-size: 14px;
    gap: 26px 111px;
    font-weight: 100;
    letter-spacing: .3px;
    margin-bottom: 12px;
  }
</style>