<span  id="contact" class="anchor"/>
<footer>
  <form action="">
    <h1>Contacto</h1>
    <p>Deja un mensaje y pronto nos pondremos en contacto contigo</p>
    <input type="text" placeholder="Nombre" />
    <input type="text" placeholder="Email" />
    <textarea placeholder="Mensaje" />
    <button>Enviar</button>
  </form>
  <aside>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7193.051837323523!2d-100.3485821!3d25.653855399999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662bf5ee7b1fafb%3A0xd6c760785e8c4a01!2sVaeo%20Cowork%20%26%20Oficinas%20Tanarah!5e0!3m2!1ses!2smx!4v1751513003100!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <p>VAEO Offices</p>
      <p>Edificio Tanarah, piso 22</p>
      <p>Av. José Vasconcelos 345, Col. Santa Engracia</p>
      <p>San Pedro Garza García, Nuevo León</p>
      <p>CP. 66267</p>
      <p>Tel. 8119325501</p>
      <p>contacto@ramirezyroman.com</p>
  </aside>
</footer>
<style>
  footer {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    /* max-width: 990px; */
    margin: auto;
    justify-content: center;
    gap: 50px;
    background-color: var(--color-titles);
    color: var(--color-white);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  input {
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 0 10px;
  }

  textarea {
    border-radius: 5px;
    padding: 3px 10px;
    height: 80px;
  }

  button {
    color: var(--color-titles);
    border: 1px solid var(--color-titles);
    background-color: var(--color-white);
    width: fit-content;
    padding: 7px 30px;
    border-radius: 3px;

  }

  button:hover {
    color: var(--color-white);
    border: 1px solid var(--color-white);
    background-color: transparent;
  }

  h1 {
    color: var(--color-white);
  }

  aside p {
    font-size: 13px;
  }
</style>