---
const { links, logo, GetImageUrl } = Astro.props
---

<nav>
	<a href="/"><img src={GetImageUrl(logo)} alt='logo' /></a>
	<ul>
		{links.map(({title, url})=>(
			<li><a href={`${url}`}>{title}</a></li>
		))}
	</ul>
</nav>
<style>
	nav {
		background-color: var(--color-white);
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 102px 0 68px;
		height: 76px;
		font-family: 'Playfair Display', serif;
		position: fixed;
		z-index: 1000;
		width: 100%;
		top: 0;
		margin: auto;
		overflow: hidden;
	}

	img {
		display: block;
		height: 60px;
		position: relative;
	}

	ul {
		display: flex;
		gap: 96px;
		font-size: 12px;
		letter-spacing: 4.8px;
	}

	a:hover {
		color: var(--color-titles)
	}
</style>