---
import imgReference from './logo.png';
---

<nav>
	<a href="/"><img src={imgReference} alt='logo' /></a>
	<ul>
		<li><a href="/">Sobre nosotros</a></li>
		<li><a href="/">Áreas de practica</a></li>
		<li><a href="/">Servicios</a></li>
		<li><a href="/">Socios</a></li>
		<li><a href="/">Contacto</a></li>
	</ul>
</nav>
<style>
	nav {
		background-color: var(--color-white);
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1440px;
		padding: 0 102px 0 68px;
		height: 76px;
		font-family: 'Playfair Display', serif;
		position: sticky;
		top: 0;
		margin: auto;
		overflow: hidden;
	}

	img {
		display: block;
		/* width: 170px; */
		height: 60px;
		position: relative;
	}

	ul {
		display: flex;
		gap: 96px;
		font-size: 12px;
		letter-spacing: 4.8px;
	}

	a:hover {
		color: var(--color-titles)
	}
</style>