---
import eduardo from '../icons/Eduardo_Roman.png';
import samuel from '../icons/Samuel_Ramirez.png';
import generico from '../icons/isotipo.png';
import Title from "./Title.astro";
---

<span  id="partners" class="anchor"/>
<section>
  <Title>Socios</Title>
  <article>
    <img src={samuel} alt="">
    <h1>Dr. Samuel Hiram Ramírez Mejía</h1>
    <legend>samuel@ramirezyroman.com</legend>
    <p>
      Licenciado en Derecho, Maestro en Administración Pública y en
      Derecho Público y Doctor en Derecho, magna cum laude, por la
      Universidad Autónoma de Nuevo León (2013). Ha trabajado en el
      Instituto Federal Electoral, el Tribunal Electoral del Poder Judicial
      Judicial de la Federación, el Tribunal Electoral del Estado de Nuevo
      León y la Comisión Estatal Electoral de Nuevo León. Ha sido Profesor
      de derecho electoral, derecho constitucional y derecho administrativo
      en licenciatura y en maestría en la UANL, en el Tec de Monterrey, en la
      Facultad Libre de Derecho de Monterrey. También ha impartido el
      curso de Políticas y Programas para el Combate a la Corrupción en la
      Academia Interamericana de Derechos Humanos en Saltillo, Coah. Ha
      sido instructor en temas de cultura de la legalidad, combate a la
      corrupción y compras gubernamentales. Actualmente, es profesor en
      el Departamento de Derecho de la UDEM en donde imparte las
      cátedras de electoral, constitucional y administrativo.
    </p>
  </article>
  <article>
    <img src={generico} alt="">
    <h1>Mtra. Eugenia Valdez Adame</h1>
    <legend>eugenia@ramirezyroman.com</legend>
    <p>
      Licenciada en Derecho por el Tecnológico de Monterrey. Maestra en Derecho Público por
      la Universidad Autónoma de Nuevo León. Master en Acción Política, Fortalecimiento
      Institucional y Participación Ciudadana en el Estado de Derecho, por la Universidad
      Francisco de Vitoria, la Universidad Rey Juan Carlos y el Ilustre Colegio de Abogados de
      Madrid, España. Especialista en Derecho Constitucional y Ciencia Política por el Centro de
      Estudios Políticos y Constitucionales de España. Especialista en Causas Matrimoniales
      Canónicas por la Universidad Pontificia Comillas de Madrid, España. Cuenta con una
      amplia experiencia en el sector público y en el ejercicio privado de la abogacía.
    </p>
  </article>
  <article>
    <img src={generico} alt="">
    <h1>Mtra. Juliana Ramírez Reynoso</h1>
    <legend>juliana@ramirezyroman.com</legend>
    <p>
      Licenciada en Derecho por el Centro de Investigación y Docencias Económicas (CIDE).
Realizó la Maestría en Derecho de la Empresa en la Universidad de Monterrey (UDEM).
Apasionada del derecho digital, la protección de datos personales y la propiedad intelectual.
Cuenta con experiencia orientando a emprendedores en temas de propiedad intelectual.
Llevó a cabo pasantías en la COFECE y despachos privados en el área metropolitana.
Durante sus estudios de maestría colaboró como asistente de investigación en instituciones
educativas y organizaciones de la sociedad civil en temas de responsabilidad civil, justicia,
estado de derecho y transparencia.
    </p>
  </article>
</section>
<style>
  section {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 1030px;
    margin: auto;
    justify-content: space-around;
    background-color: var(--color-white);
  }

  article {
    width: 44%;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  img {
    background-color: red;
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
  }

  h1 {
    font-size: 24px;
    font-weight: 100;
    text-align: center;
  }

  legend {
    text-align: center;
  }

  p {
    text-align: justify;
    font-size: 14px;
    line-height: 1.6rem;
  }
</style>