---
import eduardo from '../icons/Eduardo_Roman.png';
import samuel from '../icons/Samuel_Ramirez.png';
import Title from "./Title.astro";
---

<span  id="partners" class="anchor"/>
<section>
  <Title>Socios</Title>
  <article>
    <img src={samuel} alt="">
    <h1>Dr. Samuel Hiram Ramírez Mejía</h1>
    <legend>samuel@ramirezyroman.com</legend>
    <p>
      Licenciado en Derecho, Maestro en Administración Pública y en
      Derecho Público y Doctor en Derecho, magna cum laude, por la
      Universidad Autónoma de Nuevo León (2013). Ha trabajado en el
      Instituto Federal Electoral, el Tribunal Electoral del Poder Judicial
      Judicial de la Federación, el Tribunal Electoral del Estado de Nuevo
      León y la Comisión Estatal Electoral de Nuevo León. Ha sido Profesor
      de derecho electoral, derecho constitucional y derecho administrativo
      en licenciatura y en maestría en la UANL, en el Tec de Monterrey, en la
      Facultad Libre de Derecho de Monterrey. También ha impartido el
      curso de Políticas y Programas para el Combate a la Corrupción en la
      Academia Interamericana de Derechos Humanos en Saltillo, Coah. Ha
      sido instructor en temas de cultura de la legalidad, combate a la
      corrupción y compras gubernamentales. Actualmente, es profesor en
      el Departamento de Derecho de la UDEM en donde imparte las
      cátedras de electoral, constitucional y administrativo.
    </p>
  </article>
  <article>
    <img src={eduardo} alt="">
    <h1>Dr. Eduardo Román González</h1>
    <legend>eduardo@ramirezyroman.com</legend>
    <p>
      Licenciado en Derecho por el Tecnológico de Monterrey. Maestro en
      Derecho Público por la Universidad Autónoma de Nuevo León.
      Diploma de Especialización en Derecho Constitucional y Ciencia Política
      por el Centro de Estudios Políticos y Constitucionales de España.
      Diploma de Estudios Avanzados en Derechos Fundamentales y Doctor
      en Derecho, Gobierno y Políticas Públicas, sobresaliente cum laude,
      por la Universidad Autónoma de Madrid. Su tesis doctoral obtuvo el
      Premio Nicolás Pérez Serrano 2017 que otorga el Centro de Estudios
      Políticos y Constitucionales de España a la mejor tesis en Derecho
      Constitucional. Ha trabajado en el Tribunal Electoral del Poder Judicial
      de la Federación, el Instituto Federal Electoral, la Dirección General de
      Asuntos Jurídicos del Municipio de San Pedro Garza García, la
      Universidad de Monterrey, la Comisión Estatal Electoral y el Poder
      Judicial del Estado de Nuevo León. Es Coordinador de Investigación del
      CEEAD A.C. y Profesor de Cátedra de la Facultad Libre de Derecho de
      Monterrey y del Tecnológico de Monterrey. Pertenece al Sistema
      Nacional de Investigadores del CONACyT.
    </p>
  </article>
</section>
<style>
  section {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 1030px;
    margin: auto;
    justify-content: space-around;
    background-color: var(--color-white);
  }

  article {
    width: 44%;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  img {
    background-color: red;
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
  }

  h1 {
    font-size: 24px;
    font-weight: 100;
    text-align: center;
  }

  legend {
    text-align: center;
  }

  p {
    text-align: justify;
    font-size: 14px;
    line-height: 1.6rem;
  }
</style>