---
import Title from './Title.astro';
const { title, items, GetImageUrl } = Astro.props
---

<section id="services" >
  <Title>{title}</Title>
  <ul>
    {items.map(({title, description, image})=>(
      <li>
        <img src={GetImageUrl(image)} />
        <h2>{title}</h2>
        <p>{description}</p>
      </li>
    ))}
  </ul>
</section>

<style>
  section {
    padding: 40px 0 103px;
    display: grid;
    grid-template-columns: 1120px;
    justify-content: center;
    background-color: var(--color-white);
  }

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50%);
    justify-items: center;
    row-gap: 70px;
    margin-top: 70px;
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    gap: 18px;
    text-align: center;
  }

  img {
    height: 50px;
  }

  h2 {
    color: var(--color-text);
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }
</style>