<div>
  <h1>
    <slot />
  </h1>
  <hr />
</div>
<style>
  div {
    width: 100%;
  }
  h1 {
    font-size: 46px;
    text-align: center;
    margin-bottom: 20px;
  }

  hr {
    height: 3px;
    background-color: var(--color-titles);
  }
</style>