---
const { items, GetImageUrl } = Astro.props
---
<section id="values">
  {items.map(({title, image}) => {
    return(
      <article>
        <img src={GetImageUrl(image)} alt={title} />
        <p>{title}</p>
      </article>
  )})}
</section>
<style>
  section {
    height: 134px;
    background-color: var(--color-titles);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    gap: 170px;
    align-items: center;
  }

  p {
    font-size: 14px;
  }

  article {
    text-align: center;
    width: 150px;
  }

  img {
    height: 45px;
    width: 45px;
    margin-bottom: 10px;
  }
</style>